<div class='container'>
  <div class='row'>
    <div class='col l4 offset-l4'>
      <h2>Failure</h2>
      <h4>Your do not have access here! Please register!</h4>
    </div>
    </br>
    <a href='/registert' class='waves-effect waves-light btn'>Sign Up</a>
  </div>
</div>
