<div class='container'>
  <div class='row'>
    <div class='col l4 offset-l4'>
      <h2>Success!</h2>
      <h4>Congratultions, {{username}}! You have successfully logged in!</h4>
    </div>
    </br>
    <a href='/logout' class='waves-effect waves-light btn'>Log Out</a>
  </div>
</div>
